PORT=5174
DMLOCALAPI_BASE_URL=http://127.0.0.1:8765
DMLOCALAPI_SERVER_EXE=E:\work\daomeng\AutoDaoMengPublic\src\dist\dmlocalapi_server.exe
DMLOCALAPI_PORT=8765
DMLOCALAPI_AUTO_START=1
DMLOCALAPI_STARTUP_TIMEOUT_MS=10000
DMLOCALAPI_WORKING_DIRECTORY=E:\work\daomeng\AutoDaoMengPublic\src\dist
DATA_DIR=./data
